{% extends 'portfolio_base.html'%}
{% load static %}
{% block content %}

<div id="page-wraper">
  <!-- Sidebar Menu -->
  <div class="responsive-nav">
    <i class="fa fa-bars" id="menu-toggle"></i>
    <div id="menu" class="menu">
      <i class="fa fa-times" id="menu-close"></i>
      <div class="container">
        <div class="image">
          <a href="#"><img src="{{ data.about_me.user_profile_pic.url }}" alt="" /></a>
        </div>
        <div class="author-content">
          <h4>{{ data.about_me.user_name }}</h4>
          <span> {{ data.about_me.user_profession }}</span>
        </div>
        <nav class="main-nav" role="navigation">
          <ul class="main-menu">
            <li><a href="#section1">About Me</a></li>
            <li><a href="#section2">What I’m good at</a></li>
            <li><a href="#section3">My Work</a></li>
            <li><a href="#section4">Contact Me</a></li>
          </ul>
        </nav>
        <div class="social-network">
          <ul class="soial-icons">
            <li>
              <a href="https://fb.com/"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-dribbble"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-rss"></i></a>
            </li>
          </ul>
        </div>
        <div class="copyright-text">
          <p>Copyright 2021 Akshay PK</p>
        </div>
      </div>
    </div>
  </div>
  <!-- side bar end -->
  <section class="except_sidebar">

    <!-- About me -->
    <section class="section about-me" data-section="section1">
      <div class="container">
        <div class="section-heading">
          <h2>– Hey there! I'm {{ data.about_me.user_name}}, a {{ data.about_me.user_profession}}.</h2>
          <div class="line-dec"></div>
          <span>{{ data.about_me.about_me_bio }}</span>
        </div>
      </div>
    </section>
    <!-- About Me end -->

    <!-- What I’m good at? -->
    <section class="section my-services" data-section="section2">
      <div class="container">
        <div class="section-heading">
          <h2>What I’m good at?</h2>
          <div class="line-dec"></div>
          <span>Curabitur leo felis, rutrum vitae varius eu, malesuada a tortor.
            Vestibulum congue leo et tellus aliquam, eu viverra nulla semper.
            Nullam eu faucibus diam. Donec eget massa ante.</span>
        </div>
        <div class="row">
          {% for skill_m in data.skills_more %}
          <div class="col-md-6">
            <div class="service-item">
              <img src="{{ skill_m.skill_icon.url }}" class="service-icon " alt="" />
              <h4>{{skill_m.skill_name}}</h4>
              <p>{{skill_m.skill_discription}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- what iam good end -->

    <!-- my works -->
    <section class="section my-work" data-section="section3">
      <div class="container">
        <div class="section-heading">
          <h2>My Work</h2>
          <div class="line-dec"></div>
          <span>Aenean sollicitudin ex mauris, lobortis lobortis diam euismod sit
            amet. Duis ac elit vulputate, lobortis arcu quis, vehicula
            mauris.</span>
        </div>
        <!--    <div class="row">
          <div class="isotope-wrapper ">
            <div class="isotope-box">
              <div class="isotope-item">
                <figure class="snip1321">
                  <img src="{% static 'assets/images/portfolio-06.jpg' %}" alt="sq-sample26" />
                  <figcaption>
                    <a href="{% static 'assets/images/portfolio-06.jpg' %}" data-lightbox="image-1"
                      data-title="Caption"><i class="fa fa-search"></i></a>
                    <h4>Awesome Sixth</h4>
                    <span>Donec eget massa ante</span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
  
        </div>-->
        <div class="row mt-5 skill-img text-center">
          <div class="col-md-4 ">
            <img class="works img-fluid" src="{% static 'assets/images/portfolio-02.jpg'%}" alt="Nature" style="width:100%"
              onclick="myFunction(this);">
            <h4>hello</h4>
          </div>
          <div class="col-md-4 img">
            <img class="works img-fluid" src="{% static 'assets/images/portfolio-02.jpg'%}" alt="Snow" style="width:100%"
              onclick="myFunction(this);">
            <h4>hello</h4>
          </div>
          <div class="col-md-4 img">
            <img class="works img-fluid" src="{% static 'assets/images/portfolio-02.jpg'%}" alt="Mountains" style="width:100%"
              onclick="myFunction(this);">
            <h4>hello</h4>
          </div>
          <div class="col-md-4 img">
            <img class="works img-fluid" src="{% static 'assets/images/portfolio-02.jpg'%}" alt="Lights"
              onclick="myFunction(this);">
            <h4>hello</h4>
          </div>
        </div>
        <!-- expanded image -->
        <div class="expand">
          <br>
          <span onclick="this.parentElement.style.display='none'" class="closebtn ">&times;</span>
          <img id="expandedImg" style="width:90%">
          <div id="imgtext"></div>
        </div>




      </div>
    </section>
    <!-- my works end -->

    <!-- contact me
   -->
    <section class="section contact-me" data-section="section4">
      <div class="container">
        <div class="section-heading">
          <h2>Contact Me</h2>
          <div class="line-dec"></div>
          <span>Fusce eget nibh nec justo interdum condimentum. Morbi justo ex,
            efficitur at ante ac, tincidunt maximus ligula. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit.</span>
        </div>
        <div class="row">
          <div class="right-content">
            <div class="container">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Your name..."
                        required="" />
                    </fieldset>
                  </div>
                  <div class="col-md-6">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" placeholder="Your email..."
                        required="" />
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..."
                        required="" />
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..."
                        required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">
                        Send Message
                      </button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/owl-carousel.js' %}"></script>
<script src="{% static 'assets/js/lightbox.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script>
  //active aboutme
  $(".main-menu li:first").addClass("active");
  // hide side bar when click outside the sidebar
  $(".except_sidebar").click(function () {
    $("#menu").removeClass("open");
  });



  var showSection = function showSection(section, isAnimate) {
    var direction = section.replace(/#/, ""),
      reqSection = $(".section").filter('[data-section="' + direction + '"]'),
      reqSectionPos = reqSection.offset().top - 0;

    if (isAnimate) {
      $("body, html").animate(
        {
          scrollTop: reqSectionPos,
        },
        800
      );
    } else {
      $("body, html").scrollTop(reqSectionPos);
    }
  };

  var checkSection = function checkSection() {
    $(".section").each(function () {
      var $this = $(this),
        topEdge = $this.offset().top - 80,
        bottomEdge = topEdge + $this.height(),
        wScroll = $(window).scrollTop();
      if (topEdge < wScroll && bottomEdge > wScroll) {
        var currentId = $this.data("section"),
          reqLink = $("a").filter("[href*=\\#" + currentId + "]");
        reqLink
          .closest("li")
          .addClass("active")
          .siblings()
          .removeClass("active");
      }
    });
  };

  $(".main-menu").on("click", "a", function (e) {
    e.preventDefault();
    showSection($(this).attr("href"), true);
  });

  $(window).scroll(function () {
    checkSection();
  });
</script>

{% endblock %}